<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>gestionBibliotheque</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <resource-ref>
  	<description>postgreSQL Datasource Bibliotheque</description>
  	<res-ref-name>jdbc/postgres</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  
  
  
  <servlet>
    <servlet-name>AuteurController</servlet-name>
    <servlet-class>controller.AuteurController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuteurController</servlet-name>
    <url-pattern>/ajoutAuteur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuteurController</servlet-name>
    <url-pattern>/actionAuteur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuteurController</servlet-name>
    <url-pattern>/modifAuteur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuteurController</servlet-name>
    <url-pattern>/indexAuteur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuteurController</servlet-name>
    <url-pattern>/auteursPrecedents</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuteurController</servlet-name>
    <url-pattern>/auteursSuivants</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>LivreController</servlet-name>
    <servlet-class>controller.LivreController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LivreController</servlet-name>
    <url-pattern>/ajoutLivre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LivreController</servlet-name>
    <url-pattern>/actionLivre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LivreController</servlet-name>
    <url-pattern>/modifLivre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LivreController</servlet-name>
    <url-pattern>/ajoutTagLivre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LivreController</servlet-name>
    <url-pattern>/indexLivre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LivreController</servlet-name>
    <url-pattern>/livresPrecedents</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LivreController</servlet-name>
    <url-pattern>/livresSuivants</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
</web-app>